<!--[if mso]>
<style>
* {
	font-family: sans-serif !important;
}
</style>
<![endif]-->

<!--[if !mso]>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<![endif]-->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400, 700">

@font-face {
  font-family: Montserrat;
  src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

html,
body {
	margin: 0 auto !important;
	padding: 0 !important;
	height: 100% !important;
	width: 100% !important;
	font-family: Montserrat, Arial, sans-serif;
}

/* What it does: Stops email clients resizing small text. */
* {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* What it does: Centers email on Android 4.4 */
div[style*="margin: 16px 0"] {
	margin: 0 !important;
}

/* What it does: Stops Outlook from adding extra spacing to tables. */
table,
td {
	mso-table-lspace: 0pt !important;
	mso-table-rspace: 0pt !important;
}

/* What it does: Fixes webkit padding issue. */
table {
	border-spacing: 0 !important;
	border-collapse: collapse !important;
	table-layout: fixed !important;
	margin: 0 auto !important;
}

/* What it does: Uses a better rendering method when resizing images in IE. */
img {
	-ms-interpolation-mode:bicubic;
}

/* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
a {
	text-decoration: none;
}

/* What it does: A work-around for email clients meddling in triggered links. */
a[x-apple-data-detectors],  /* iOS */
.unstyle-auto-detected-links a,
.aBn {
	border-bottom: 0 !important;
	cursor: default !important;
	color: inherit !important;
	text-decoration: none !important;
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
}

/* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
.a6S {
	display: none !important;
	opacity: 0.01 !important;
}

/* What it does: Prevents Gmail from changing the text color in conversation threads. */
.im {
	color: inherit !important;
}

/* If the above doesn't work, add a .g-img class to any image in question. */
img.g-img + div {
	display: none !important;
}

/* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
/* Create one of these media queries for each additional viewport size you'd like to fix */

/* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
	u ~ div .email-container {
		min-width: 320px !important;
	}
}
/* iPhone 6, 6S, 7, 8, and X */
@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
	u ~ div .email-container {
		min-width: 375px !important;
	}
}
/* iPhone 6+, 7+, and 8+ */
@media only screen and (min-device-width: 414px) {
	u ~ div .email-container {
		min-width: 414px !important;
	}
}

<!--[if gte mso 9]>
<xml>
<o:OfficeDocumentSettings>
<o:AllowPNG/>
<o:PixelsPerInch>96</o:PixelsPerInch>
</o:OfficeDocumentSettings>
</xml>
<![endif]-->

.button-td,
.button-a,
.button-b {
	transition: all 100ms ease-in;
}
.button-td-primary:hover,
.button-a-primary:hover {
	background: #7ebdbd !important;
	border-color: #7ebdbd !important;
}

.button-b:hover {
	background: #e4e3e0 !important;
	border-color: #e4e3e0 !important;
}

.button-a {
	background: #319696;
	width: 150px;
	border: 1px solid #319696;
	font-size: 15px;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	padding: 13px 17px;
	color: #ffffff;
	display: block;
	border-radius: 30px;
	font-weight: bold;
	margin: auto;
}

.button-b {
	background: #ffffff;
	width: 150px;
	border: 1px solid #ffffff;
	font-size: 15px;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	padding: 13px 17px;
	color: #d46830;
	display: block;
	border-radius: 30px;
	font-weight: bold;
	margin: auto;
}

/* Media Queries */
@media screen and (max-width: 600px) {

	/* What it does: Adjust typography on small screens to improve readability */
	.email-container p {
		font-size: 17px !important;
	}
}

div.preheader {
	display: none;
	font-size: 1px;
	line-height: 1px;
	max-height: 0px;
	max-width: 0px;
	opacity: 0;
	overflow: hidden;
	mso-hide: all;
}

div.preview-spacing {
	display: none;
	font-size: 1px;
	line-height: 1px;
	max-height: 0px;
	max-width: 0px;
	opacity: 0;
	overflow: hidden;
	mso-hide: all;
}

td {
	padding: 30px 60px 30px; 
	font-size: 15px; 
	line-height: 20px; 
	color: #555555;
	background-color: #ffffff;
}

td.first {
	background-color: #319696;
	text-align: center;
}

td.middle {
	background-color: #fdfdfd;
	color: #3e4543;
	text-align: center;
}

td.last {
	background-color: #e4e3e0;
	color: #3e4543;
	text-align: center;
}

td.spacer {
	padding: 10px;
	font-size: 0px; 
	line-height: 0px;
	background-color: #ffffff;
}

td.header {
	padding: 20px 10px 10px;
	text-align: center;
}

td.footer {
	font-size: 9px;
	line-height: 15px;
	text-align: center;
	color: #ffffff;
	background-color: #ffffff;
}

h1 {
	margin: 0 0 10px 0; 
	font-size: 25px; 
	line-height: 30px; 
	color: #333333; 
	font-weight: normal;
}

h2 {
	margin: 0 0 10px 0;
	font-size: 18px; 
	line-height: 22px; 
	color: #333333;
	font-weight: bold;
}

p {
	line-height: 1.5;
	font-size: 12px;
}

ul {
	padding: 0; 
	margin: 0 0 10px 0; 
	list-style-type: disc;
}

li {
	margin:0 0 10px 30px;
}